/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */

 @mixin background-retina($normal, $retina) {
  background-image: image-url($normal);
  background-repeat: no-repeat;
  background-position: center;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: image-url($retina);
      background-repeat: no-repeat;
      background-position: center;
  }
}