@charset "UTF-8";

// @import "../functions/retina-sprites";
@import "../functions/retina-background-image";

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-size: 32px;
}
.icon-projects {
  @include background-retina('../img/icons/projects.png', '../img/icons/projects@2x.png');
}
.icon-collapse {
  @include background-retina('../img/icons/collapse.png', '../img/icons/collapse@2x.png');
}
.icon-flash {
  width: 19px;
  height: 19px;
  @include background-retina('../img/icons/flash.png', '../img/icons/flash@2x.png');
  background-size: 19px;
}
.icon-copy {
  width: 19px;
  height: 19px;
  @include background-retina('../img/icons/copy.png', '../img/icons/copy@2x.png');
  background-size: 19px;
}
.icon-break-link {
  width: 19px;
  height: 19px;
  @include background-retina('../img/icons/break-link.png', '../img/icons/break-link@2x.png');
  background-size: 19px;
}
.icon-check {
  width: 19px;
  height: 19px;
  @include background-retina('../img/icons/check.png', '../img/icons/check@2x.png');
  background-size: 19px;
}
.icon-add-green-circle {
  width: 19px;
  height: 19px;
  @include background-retina('../img/icons/add-green-circle.png', '../img/icons/add-green-circle@2x.png');
  background-size: 19px;
}
.icon-title-camara {
  width: 40px;
  height: 40px;
  @include background-retina('../img/icons/title-camara.png', '../img/icons/title-camara@2x.png');
  background-size: 40px;
}
.icon-title-doc {
  width: 40px;
  height: 40px;
  @include background-retina('../img/icons/title-doc.png', '../img/icons/title-doc@2x.png');
  background-size: 40px;
}
.icon-title-species {
  width: 40px;
  height: 40px;
  @include background-retina('../img/icons/title-species.png', '../img/icons/title-species@2x.png');
  background-size: 40px;
}
.icon-gallery-list {
  width: 16px;
  height: 16px;
  @include background-retina('../img/icons/gallery-list.png', '../img/icons/gallery-list@2x.png');
  background-size: 16px;
}
.icon-gallery-single {
  width: 16px;
  height: 16px;
  @include background-retina('../img/icons/gallery-single.png', '../img/icons/gallery-single@2x.png');
  background-size: 16px;
}
.icon-add-file {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/add_file.png', '../img/icons/add_file@2x.png');
  background-size: 24px;
}
.icon-add-green {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/add-green.png', '../img/icons/add-green@2x.png');
  background-size: 24px;
}
.icon-trash {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/trash.png', '../img/icons/trash@2x.png');
  background-size: 24px;
}
.icon-chevron-up {
  width: 20px;
  height: 20px;
  @include background-retina('../img/icons/chevron-up.png', '../img/icons/chevron-up@2x.png');
  background-position: center;
  background-size: 20px;
}
.icon-chevron-down {
  width: 20px;
  height: 20px;
  @include background-retina('../img/icons/chevron-down.png', '../img/icons/chevron-down@2x.png');
  background-position: center;
  background-size: 20px;
}
.icon-csv {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/csv.png', '../img/icons/csv@2x.png');
  background-position: center;
  background-size: 18px;
}
.icon-photo {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/photo.png', '../img/icons/photo@2x.png');
  background-position: center;
  background-size: 18px;
}
.icon-zip {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/zip.png', '../img/icons/zip@2x.png');
  background-position: center;
  background-size: 18px;
}
.icon-waiting {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/waiting.png', '../img/icons/waiting@2x.png');
  background-size: 24px;
}
.icon-cloud-upload {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/cloud-upload.png', '../img/icons/cloud-upload@2x.png');
  background-size: 24px;
}
.icon-upload-error {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/upload-error.png', '../img/icons/upload-error@2x.png');
  background-position: center;
  background-size: 16px;
}
.icon-upload-success {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/upload-success.png', '../img/icons/upload-success@2x.png');
  background-position: center;
  background-size: 16px;
}
.icon-info {
  width: 14px;
  height: 14px;
  @include background-retina('../img/icons/info.png', '../img/icons/info@2x.png');
  background-size: 14px;
}
.btn:hover,
.btn:focus,
.active {
  .icon-gallery-list {
    @include background-retina('../img/icons/gallery-list-active.png', '../img/icons/gallery-list-active@2x.png');
  }
  .icon-gallery-single {
    @include background-retina('../img/icons/gallery-single-active.png', '../img/icons/gallery-single-active@2x.png');
  }
}

.icon-user {
  width: 10px;
  height: 11px;
  @include background-retina('../img/icons/user.png', '../img/icons/user@2x.png');
  background-size: 10px 11px;
}
.icon-pencil {
  width: 14px;
  height: 14px;
  @include background-retina('../img/icons/pencil.png', '../img/icons/pencil@2x.png');
  background-size: 14px;
}
.icon-add {
  width: 14px;
  height: 14px;
  @include background-retina('../img/icons/add.png', '../img/icons/add@2x.png');
  background-size: 14px;
}
.icon-search-green {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/search-green.png', '../img/icons/search-green@2x.png');
  background-size: 24px;
}

.icon-user-gray {
  width: 11px;
  height: 11px;
  @include background-retina('../img/icons/user-gray.png', '../img/icons/user-gray@2x.png');
  background-size: 10px;
}

.icon-warning {
  width: 10px;
  height: 11px;
  @include background-retina('../img/icons/warning.png', '../img/icons/warning@2x.png');
  background-size: 10px 11px;
}

.icon-warning {
  width: 10px;
  height: 11px;
  @include background-retina('../img/icons/warning.png', '../img/icons/warning@2x.png');
  background-size: 10px 11px;
}

.icon-download-sm {
  width: 11px;
  height: 11px;
  @include background-retina('../img/icons/download-sm.png', '../img/icons/download-sm@2x.png');
  background-size: 11px 11px;
}

.icon-back {
  width: 24px;
  height: 24px;
  @include background-retina('../img/icons/back.png', '../img/icons/back@2x.png');
  background-size: 24px 24px;
}