/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
.icon {
  display: inline-block;
  vertical-align: middle;
}

.btn-grayscale .icon-continous {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-grayscale .icon-continous {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -165px;
    height: 25px;
    width: 25px;
  }
}

.icon-upload {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1182px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1109px;
    height: 21px;
    width: 21px;
  }
}

.icon-upload-success {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1155px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-success {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1083px;
    height: 25px;
    width: 25px;
  }
}

.icon-upload-fail {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1105px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-fail {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1036px;
    height: 25px;
    width: 25px;
  }
}

.disabled .icon-upload, [disabled] .icon-upload {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1132px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .disabled .icon-upload, [disabled] .icon-upload {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1062px;
    height: 21px;
    width: 21px;
  }
}

.icon-link {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -538px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-link {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -504px;
    height: 21px;
    width: 21px;
  }
}

.icon-trash {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1055px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-trash {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -989px;
    height: 25px;
    width: 25px;
  }
}

.icon-unlink {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1082px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-unlink {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1015px;
    height: 21px;
    width: 21px;
  }
}

.icon-remove-sm {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -799px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove-sm {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -748px;
    height: 15px;
    width: 15px;
  }
}

.icon-remove-white {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -816px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove-white {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -764px;
    height: 25px;
    width: 25px;
  }
}

.icon-remove-red {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -782px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove-red {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -733px;
    height: 15px;
    width: 15px;
  }
}

.icon-projects {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -747px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-projects {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -699px;
    height: 33px;
    width: 33px;
  }
}

.icon-plus {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -724px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-plus {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -678px;
    height: 21px;
    width: 21px;
  }
}

.icon-minus {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -647px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-minus {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -605px;
    height: 21px;
    width: 21px;
  }
}

.icon-expand {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -347px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-expand {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -326px;
    height: 21px;
    width: 21px;
  }
}

.icon-add {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -27px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-add {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -26px;
    height: 21px;
    width: 21px;
  }
}

.icon-add-green {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-add-green {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 0;
    height: 25px;
    width: 25px;
  }
}

.icon-download {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -324px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-download {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -305px;
    height: 21px;
    width: 21px;
  }
}

.icon-cut {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -283px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-cut {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -267px;
    height: 25px;
    width: 25px;
  }
}

.icon-copy {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -229px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-copy {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -216px;
    height: 25px;
    width: 25px;
  }
}

.icon-lock {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -578px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-lock {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -541px;
    height: 15px;
    width: 15px;
  }
}

.icon-save {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -870px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-save {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -815px;
    height: 21px;
    width: 21px;
  }
}

.icon-lock-green {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -561px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-lock-green {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -525px;
    height: 15px;
    width: 15px;
  }
}

.icon-paste {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -670px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-paste {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -627px;
    height: 25px;
    width: 25px;
  }
}

.icon-collapse {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -140px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-collapse {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -131px;
    height: 33px;
    width: 33px;
  }
}

.icon-info {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -515px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-info {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -482px;
    height: 21px;
    width: 21px;
  }
}

.icon-upload-white {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1182px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-white {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1109px;
    height: 21px;
    width: 21px;
  }
}

.icon-upload-gray {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1132px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-gray {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1062px;
    height: 21px;
    width: 21px;
  }
}

.icon-remove {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -843px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -789px;
    height: 25px;
    width: 25px;
  }
}

.icon-splitter {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -893px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-splitter {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -836px;
    height: 25px;
    width: 25px;
  }
}

.icon-title-camara {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -962px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 28px;
  width: 36px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-camara {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -901px;
    height: 29px;
    width: 37px;
  }
}

.icon-title-doc {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -993px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 33px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-doc {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -930px;
    height: 34px;
    width: 28px;
  }
}

.icon-title-species {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1029px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 23px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-species {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -965px;
    height: 24px;
    width: 41px;
  }
}

.btn-icon .icon-time-machine {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -920px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon .icon-time-machine {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -862px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon .icon-gallery {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -397px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon .icon-gallery {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -373px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon.active .icon-time-machine {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -941px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon.active .icon-time-machine {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -881px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon.active .icon-gallery {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -494px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon.active .icon-gallery {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -463px;
    height: 19px;
    width: 19px;
  }
}

.icon-gallery-list {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -437px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-gallery-list {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -410px;
    height: 17px;
    width: 17px;
  }
}

.icon-gallery-single {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -475px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-gallery-single {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -445px;
    height: 17px;
    width: 17px;
  }
}

.btn:hover .icon-gallery-list,
.btn:focus .icon-gallery-list,
.active .icon-gallery-list {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -418px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn:hover .icon-gallery-list,
  .btn:focus .icon-gallery-list,
  .active .icon-gallery-list {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -393px;
    height: 17px;
    width: 17px;
  }
}
.btn:hover .icon-gallery-single,
.btn:focus .icon-gallery-single,
.active .icon-gallery-single {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -456px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn:hover .icon-gallery-single,
  .btn:focus .icon-gallery-single,
  .active .icon-gallery-single {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -428px;
    height: 17px;
    width: 17px;
  }
}

.icon-user {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1218px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 11px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-user {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1142px;
    height: 12px;
    width: 11px;
  }
}

.icon-user-gray {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1205px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 10px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-user-gray {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1130px;
    height: 11px;
    width: 10px;
  }
}

.icon-warning {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1232px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-warning {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1154px;
    height: 15px;
    width: 15px;
  }
}

.icon-download-sm {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -310px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 11px;
  width: 11px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-download-sm {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -292px;
    height: 12px;
    width: 12px;
  }
}

.icon-back {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -70px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 13px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-back {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -66px;
    height: 14px;
    width: 18px;
  }
}

.icon-folder {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -370px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-folder {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -348px;
    height: 25px;
    width: 25px;
  }
}

.icon-csv {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-csv {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -241px;
    height: 25px;
    width: 25px;
  }
}

.icon-zip {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -1249px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-zip {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -1170px;
    height: 25px;
    width: 25px;
  }
}

.icon-photo {
  background-image: url('../assets/icons-s779b44bfab.png');
  background-position: 0 -697px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-photo {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s4d1d788236.png');
    background-size: 53px 1193.5px;
    background-position: 0 -652px;
    height: 25px;
    width: 25px;
  }
}
