/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
.icon {
  display: inline-block;
  vertical-align: middle;
}

.btn-grayscale .icon-continous {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -175px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-grayscale .icon-continous {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -165px;
    height: 25px;
    width: 25px;
  }
}

.icon-link {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -484px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-link {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -453px;
    height: 21px;
    width: 21px;
  }
}

.icon-unlink {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -930px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-unlink {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -872px;
    height: 21px;
    width: 21px;
  }
}

.icon-remove-sm {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -701px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove-sm {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -656px;
    height: 15px;
    width: 15px;
  }
}

.icon-projects {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -666px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-projects {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -623px;
    height: 33px;
    width: 33px;
  }
}

.icon-plus {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -643px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-plus {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -601px;
    height: 21px;
    width: 21px;
  }
}

.icon-minus {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -593px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-minus {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -554px;
    height: 21px;
    width: 21px;
  }
}

.icon-expand {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -320px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-expand {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -301px;
    height: 21px;
    width: 21px;
  }
}

.icon-add {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -27px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-add {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -26px;
    height: 21px;
    width: 21px;
  }
}

.icon-add-green {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-add-green {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 0;
    height: 25px;
    width: 25px;
  }
}

.icon-download {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -297px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-download {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -279px;
    height: 21px;
    width: 21px;
  }
}

.icon-cut {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-cut {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -241px;
    height: 25px;
    width: 25px;
  }
}

.icon-copy {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -229px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-copy {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -216px;
    height: 25px;
    width: 25px;
  }
}

.icon-lock {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -524px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-lock {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -490px;
    height: 15px;
    width: 15px;
  }
}

.icon-save {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -745px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-save {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -697px;
    height: 21px;
    width: 21px;
  }
}

.icon-lock-green {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -507px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-lock-green {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -474px;
    height: 15px;
    width: 15px;
  }
}

.icon-paste {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -616px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-paste {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -576px;
    height: 25px;
    width: 25px;
  }
}

.icon-collapse {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -140px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-collapse {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -131px;
    height: 33px;
    width: 33px;
  }
}

.icon-info {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -461px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-info {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -431px;
    height: 21px;
    width: 21px;
  }
}

.icon-upload-white {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -976px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-white {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -915px;
    height: 21px;
    width: 21px;
  }
}

.icon-upload-gray {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -953px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-upload-gray {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -893px;
    height: 21px;
    width: 21px;
  }
}

.icon-remove {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -718px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-remove {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -672px;
    height: 25px;
    width: 25px;
  }
}

.icon-splitter {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -768px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-splitter {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -719px;
    height: 25px;
    width: 25px;
  }
}

.icon-title-camara {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -837px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 28px;
  width: 36px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-camara {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -783px;
    height: 29px;
    width: 37px;
  }
}

.icon-title-doc {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -868px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 33px;
  width: 27px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-doc {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -813px;
    height: 34px;
    width: 28px;
  }
}

.icon-title-species {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -904px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 23px;
  width: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-title-species {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -847px;
    height: 24px;
    width: 41px;
  }
}

.btn-icon .icon-time-machine {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -795px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon .icon-time-machine {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -744px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon .icon-gallery {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -343px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon .icon-gallery {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -322px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon.active .icon-time-machine {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -816px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon.active .icon-time-machine {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -764px;
    height: 19px;
    width: 19px;
  }
}
.btn-icon.active .icon-gallery {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -440px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 18px;
  width: 18px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn-icon.active .icon-gallery {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -412px;
    height: 19px;
    width: 19px;
  }
}

.icon-gallery-list {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -383px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-gallery-list {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -359px;
    height: 17px;
    width: 17px;
  }
}

.icon-gallery-single {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -421px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-gallery-single {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -394px;
    height: 17px;
    width: 17px;
  }
}

.btn:hover .icon-gallery-list,
.btn:focus .icon-gallery-list,
.active .icon-gallery-list {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -364px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn:hover .icon-gallery-list,
  .btn:focus .icon-gallery-list,
  .active .icon-gallery-list {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -342px;
    height: 17px;
    width: 17px;
  }
}
.btn:hover .icon-gallery-single,
.btn:focus .icon-gallery-single,
.active .icon-gallery-single {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -402px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  width: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .btn:hover .icon-gallery-single,
  .btn:focus .icon-gallery-single,
  .active .icon-gallery-single {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -377px;
    height: 17px;
    width: 17px;
  }
}

.icon-user {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -1012px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 11px;
  width: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-user {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -948px;
    height: 12px;
    width: 11px;
  }
}

.icon-user-gray {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -999px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 10px;
  width: 9px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-user-gray {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -936px;
    height: 11px;
    width: 10px;
  }
}

.icon-warning {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -1026px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 14px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-warning {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -960px;
    height: 15px;
    width: 15px;
  }
}

.icon-download-sm {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -283px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 11px;
  width: 11px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-download-sm {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -267px;
    height: 12px;
    width: 12px;
  }
}

.icon-back {
  background-image: url('../assets/icons-s86b68177a6.png');
  background-position: 0 -70px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 13px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-back {
    background-repeat: no-repeat;
    background-image: url('../assets/icons-2x-s9888891dbd.png');
    background-size: 53px 974px;
    background-position: 0 -66px;
    height: 14px;
    width: 18px;
  }
}
