<!DOCTYPE html>
<html ng-app="annImg" lang="en">  
  <head>    
    <meta charset="utf-8">
    <script src="./js/Math.uuid.js"></script>
    <script src="./js/common.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="./js/angular.js"></script>
    <script src="./js/annImgController.js"></script>
    <script src="./js/ann.js"></script>
    <script src="./js/custom_filters.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="./js/ng-file-upload/dist/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
    <script src="./js/ng-file-upload/dist/ng-file-upload.js"></script>

    <link rel="stylesheet" href="./js/angular-ui-tree/dist/angular-ui-tree.css">
    <link rel="stylesheet" href="./js/angular-ui-tree/dist/test.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/angular-ui-tree/dist/angular-ui-tree.js"></script>

  </head> 

  <body ng-controller="annImgController" ng-mouseup='focusTokenBasic()'>
    <div class='css_table' style='width:100%' ng-mousedown='imgmd($event)' ng-mouseup='imgmu($event)' ng-mousemove='imgmm($event)'>
      <div class='css_tr'>
        <div class='css_td'>
          <div style='position:relative; margin-right: 20px; width:auto; height:auto;'>
            <div ng-show='!tokenCreating' ng-repeat='token in ann.tokens' ng-style='boxStyle[token.token_id]' class='{{token.token_id}} bbox' ng-mouseover='highlightTree(token.token_id, $event)' ng-click='setEditToken(token.token_id, $event)'></div>
            <div class='outer left' ng-show='tokenCreating||!!edit_token' style='z-index:98;'></div>
            <div class='outer top' ng-show='tokenCreating||!!edit_token' style='z-index:98;'></div>
            <div class='outer bottom' ng-show='tokenCreating||!!edit_token' style='z-index:98;'></div>
            <div class='outer right' ng-show='tokenCreating||!!edit_token' style='z-index:98;'></div>
            <div id='edit-bbox' ng-show='!!edit_token' style='z-index:98;'></div>
            <img id='target_image' ng-src='{{ann.url}}' imageonload='img2data()'/><br/>
            <a ng-href='{{ann.carrier_url}}' target='_blank'>圖片來源</a>
            <input ng-model='ann.carrier_url'/>
            <button ng-click='simpleSearch({carrier_url: ann.carrier_url})'>載入所有同來源圖片</button>
            <button class='main_prev_image' ng-click='switchImage("prev", $event)'>prev</button>
            <button class='main_next_image' ng-click='switchImage("next", $event)'>next</button>
          </div>
          <div class='ctrlZone'>
            <input type='checkbox' data-no-text ng-model='auto_select_full_scope_on_create'/><span ng-click='auto_select_full_scope_on_create = !auto_select_full_scope_on_create'>自動選擇全影像</span>
            <input id='auto-copy-all-tokens' type='checkbox' data-no-text ng-model='auto_copy_all_tokens'/><span ng-click='auto_copy_all_tokens = !auto_copy_all_tokens'>追蹤物件</span>
            <button id='create-new-token-button' ng-click='createToken($event)'>create new token</button>
            <button id='full-scope' ng-show='tokenCreating && !edit_token' ng-click='selectFullScope()'>select full scope</button>
            <button class='main cancel-editing-token-button' ng-click='cancelEditingToken($event)' ng-show='edit_token'>cancel editing token</button>
            <button ng-click='updateToken()' id='main_save_xd'>Save</button>
            <div>
              <button ng-show='!!edit_token && !tokenCreating' data-nodrag ng-mousedown="uiCopyToken($event)">copy token</button>
            </div>
            <div>
              <button ng-show='!!uiCopiedToken && !!edit_token' data-nodrag ng-mousedown="uiPasteBBox($event)">paste bbox</button>
              <button id='paste-as-new-token-button' ng-show='!!uiCopiedToken' data-nodrag ng-mousedown="uiPasteToken($event, true)">paste as new</button>
              <!--button ng-show='!!uiCopiedToken && !!edit_token' data-nodrag>paste part</button-->
            </div>



<div class="bookmarklet">
<a href="javascript:(function(){
var images = [];
var imgs = document.getElementsByTagName('img');
if (imgs.length &gt; 0) {
  for (var i=0; i &lt; imgs.length; i++) {
    var img = imgs[i];
    if (img.width &gt;= 250 &amp;&amp; img.height &gt;= 250) {
      images.push(img.src);
    }
  }
}

var iframeWins = document.getElementsByTagName('iframe');
for (var j=0; j &lt; iframeWins.length; j++) {
  var frm = iframeWins[j];
  try {
    var frm_imgs = frm.contentWindow.document.getElementsByTagName('img');
    if (frm_imgs.length &gt; 0) {
      for (var k=0; k &lt; frm_imgs.length; k++) {
        var frm_img = frm_imgs[k];
        if (frm_img.width &gt;= 300 &amp;&amp; frm_img.height &gt;= 300) {
          images.push(frm_img.src);
        }
      }
    }
  }
  catch (err) {
    console.log(err.message);
  }
}

var rulesForCssText = function (styleContent) {
    var doc = document.implementation.createHTMLDocument(''),
        styleElement = document.createElement('style');

   styleElement.textContent = styleContent;
    /* the style will only be parsed once it is added to a document */
    doc.body.appendChild(styleElement);

    return styleElement.sheet.cssRules;
};

var flickr_bgimg_divs = document.getElementsByClassName('photo-list-photo-view');
for (var d=0; d &lt; flickr_bgimg_divs.length; d++) {
  var csstxt = 'div { ' + flickr_bgimg_divs[d].getAttribute('style') + '}';
  var css = rulesForCssText(csstxt);
  var bgImgMatch = css[0].style.backgroundImage.match(/^url\(&quot;(.+)&quot;\)$/);
  if (!!bgImgMatch) {
    var bgImg = bgImgMatch[1].match(/^http/) ? bgImgMatch[1] : window.location.protocol + bgImgMatch[1];
    images.push(bgImg);
  }
}

var carrier_url = window.location.href;
var images_string = JSON.stringify(images);
var title = document.getElementsByTagName('title');
if (title.length &gt; 0) {
  title = encodeURIComponent(title[0].innerHTML);
}
else {
  title = 'TBD';
}
var ann_url = 'http://twebi.net/imgAnn/ann.html?bookmarklet=true&amp;images_string=' + encodeURIComponent(images_string) + '&amp;carrier_url=' + encodeURIComponent(carrier_url) + '&amp;title=' + title;

window.open(ann_url, 'annImg');
})();">AnnImg</a>
</div>

            <div id='msg' style='display:inline-block;'></div>
          </div>
        </div> <!-- end of div.css_td-->

        <div class='css_td' style=''>
          <!--div>What to do?</div>
          <div>Hotkeys:</div>
          <div>[T] to toggle panel.</div>
          <div>[:] to console.</div>
          <div>[C] to create a new token.</div>
          <div>[Esc] to cancel editing / close panel.</div>
          <div ng-show='!tokenCreating'>[↑] previous token.</div>
          <div ng-show='!tokenCreating'>[↓] next token.</div>
          <div ng-show='!tokenCreating && current_image_idx > 0'>[←] previous image.</div>
          <div ng-show='!tokenCreating && current_image_idx < image_list.length - 1'>[→] next image.</div>
          <br/><br/>
          <div></div>
          <div>Mouse:</div>
          <div>Double click on PAN to toggle panel.</div>
          <div>Drag panel with yellow bar.</div>
          <div ng-show='!!edit_token'>Drag and resize red box to your target.</div>
          <div ng-show='!!tokenCreating && !edit_token'>Draw a box on your target.</div-->


<!--form name="form">
  Single Image with validations<br/>
 <div ngf-drop ng-model="files"
                 ngf-multiple="false" ngf-pattern="'*'"
                 ng-disabled="false"
                 ngf-drag-over-class="dragOverClassObj"
                 ngf-keep="'distinct'"
                 ngf-enable-firefox-paste="true"
                 style="min-width:80px; min-height:60px;"
                 class="drop-box">
  <img ngf-src="!files[0].$error && files[0]" style='max-width:240px; max-height:180px;'>
  </div><br/>
  <button type="submit" ng-click="submit()">submit</button><br/>

  <br/>
</form-->

<button ng-click="initSessionImageList()">save current image list</button><br/>
<button ng-click="mergeSessionImageList()" ng-show='hasMergedSessionImageList'>merge to saved image list</button><br/>
<button ng-click="graphSessionImageList()">我到底標了什麼</button><br/>

<!--div ngf-drop="uploadFiles($files)" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="'image/*'">Drop directory here to make local file list</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div-->

        </div> <!-- end of div.css_td-->

        <div class='css_td' style=''>
          <!--div style="width: 400px; height:600px;">
            <div ng-repeat='token in ann.tokens' class='{{token.token_id}} token-basic' ng-mouseover='highlightBox(token.token_id)' ng-click="setEditToken($event)">
              <div>id: {{token.token_id}}</div>
              <div>description level: {{token.description_level}}</div>
              <div>parent id: {{token.meta.parent_id}}</div>
              <div>virtual individual id: {{token.meta.virtual_individual_id}}</div>
              <div>virtual part id: {{token.meta.virtual_part_id}}</div>
            </div>
          </div-->

  <div class='css_table ctrl_panel' id='tree_and_form' style='z-index:101; width:0px; position:fixed; left:calc(100% - 100px); top:30px;'>
    <div style='position:absolute; top:0px; left:0px; width:100%;'>
      <div class='ctrl_panel_drag_handle' style='width:30px; background: #ffdc00; height:40px; width:100%; text-align:center; line-height:40px; vertical-align:middle;'>PAN</div>
      <div id='tree_and_form_toggle'></div>
      <div id='simple-search' ng-click='simpleSearch()'></div>
    </div>
    <div style='position:relative; top:25px; display:none; height:700px;'>
      <div class='css_tr'>
        <div class='css_td'>
          <script type="text/ng-template" id="tokens_renderer.html">
            <div ui-tree-handle ng-class="classes[token.token_id]" ng-mouseover="highlightBox(token.token_id, $event)" ng-mousedown="setEditToken(token.token_id, $event)" ng-mouseleave="highlightAllBox($event)" style="display:inline-block">
              <!--a ng-if="token.tokens && token.tokens.length > 0" data-nodrag ng-click="toggle(this)">Toggle {{token.tree_simple_id}}</a-->
              <a>Token {{token.tree_simple_id}}</a>
              <div data-nodrag class='delete_link' style='position:absolute; left:365px; top:5px; width:30px; height:30px; text-align:center; line-height:30px; border:1px solid #dae2ea' ng-mousedown='uiDeleteToken($event, token.token_id)'>x</div>
              <div>id: {{token.token_id}}</div>
              <div>{{token.description_level}}</div>
              <div class="show_on_parent_focused show_on_parent_hovered">
                <div>parent: {{token.meta.parent_id}}</div>
                <div>viid: {{token.meta.virtual_individual_id}}</div>
                <div>vpid: {{token.meta.virtual_part_id}}</div>
                <div>
                  <button data-nodrag ng-mousedown="uiCopyToken($event)" class="copy_token">copy token</button>
                  <button data-nodrag ng-mousedown="uiCopiedToken = undefined" ng-show='!!uiCopiedToken'>clear copied token</button>
                </div>
                <div>
                  <button ng-show="!!uiCopiedToken" data-nodrag ng-mousedown="uiPasteBBox($event)">paste bbox</button>
                  <button ng-show="!!uiCopiedToken && !!edit_token" data-nodrag ng-mousedown="uiPasteToken($event)">paste token</button>
                  <button ng-show="!!uiCopiedToken && !!edit_token" data-nodrag ng-mousedown="uiPasteToken($event, false, true)">paste data</button>
                </div>
              </div>
            </div>
            <div style="display:inline-block" ng-show='isReadyToRelate'><button style="width:25px; line-height:20px;" ng-mousedown='setRelationObject($event, token.token_id)'>》</button></div>
            <ol ui-tree-nodes="" ng-model="token.tokens" ng-class="{hidden: collapsed}">
              <li ng-repeat="token in token.tokens" data-expand-on-hover="true" ui-tree-node ng-include="'tokens_renderer.html'">
              </li>
            </ol>
          </script>
          <div>
  
            <div style='width:100%; height:40px; position:relative;'>
              <div style='position:absolute; right: 10px; top: 10px; width:100%'>
                <button id='main_rebuild_tree_button' ng-click='rebuildTree()'>rebuild tree</button>
                <button class='prev_image' ng-click='switchImage("prev", $event)'>prev</button>
                <button class='next_image' ng-click='switchImage("next", $event)'>next</button>
                <input class='annConsole' placeholder="here is the console" size='14'/>
                <input type='checkbox' data-no-text ng-model='hover_to_preview' ng-init='false'/><span ng-click='hover_to_preview = !hover_to_preview'>滑鼠預覽</span>
              </div>
            </div>
            <div ui-tree="treeOptions" style='width:500px; height:650px; overflow: auto;' class='token-basic-tree' tabindex="0">
              <ol ui-tree-nodes="" ng-model="tree.tokens" id="tree-root">
                <li ng-repeat="token in tree.tokens" data-expand-on-hover="true" ui-tree-node ng-include="'tokens_renderer.html'">
                </li>
              </ol>
            </div>
          </div>
        </div><!-- end of level2 css_td -->
        <div class='css_td'>
          <div style='position:relative; margin-right: 20px; width:800px;'>
            <div style="height:300px; width:400px; float:left;">
              <h3>{{current_token.description_level}}</h3>
              <table>
                <tr ng-repeat='data in current_token.data'>
                  <td>{{data.label||data.key}}</td><td>{{data.value}} {{data.unit}}</td>
                </tr>
              </table>
            </div>
            <canvas id="canvas" width="400" height="300" class='ctrl_panel_drag_handle'></canvas>
            <!--label>你不能只是亢亢就好ㄇ3r 森77</label-->
            <hr/>
            <form name='edit_token_form'>
            <div style='font-weight:bold' ng-show='edit_token'> <!-- start of edit token -->
              <div class='css_table' style='display:inline-block;'>
                <div class='css_tr'>
                  <div class='css_td'>Token ID</div>
                  <div class='css_td'>
                    <input ng-model='edit_token.token_id'>
                  </div>
                  <!--div class='css_td'>
                    <button ng-click='simpleSearch({token_id: edit_token.token_id}, true)'>me1</button>
                  </div-->
                </div>
                <div class='css_tr'>
                  <div class='css_td'>Description Lvl</div><div class='css_td'><input ng-model='edit_token.description_level'></div>
                </div>
                <div class='css_tr'>
                  <div class='css_td'>Parent ID</div><div class='css_td'><input ng-model='edit_token.meta.parent_id'></div>
                </div>
                <div class='css_tr'>
                  <div class='css_td'>Virtual Idv. ID</div>
                  <div class='css_td'>
                    <input name='viid' ng-model='edit_token.meta.virtual_individual_id' ng-keydown="ctrlPasteSth($event)">
                  </div>
                  <div class='css_td'>
                    <button ng-click='edit_token.meta.virtual_individual_id = uuid();edit_token_form.viid.$setDirty()'>new</button>
                  </div>
                  <div class='css_td'>
                    <button ng-click='simpleSearch({viid: edit_token.meta.virtual_individual_id})'>look for me</button>
                  </div>
                </div>
                <div class='css_tr'>
                  <div class='css_td'>Virtual Part ID</div>
                  <div class='css_td'>
                    <input name='vpid' ng-model='edit_token.meta.virtual_part_id' ng-keydown="ctrlPasteSth($event)">
                  </div>
                  <div class='css_td'>
                    <button ng-click='edit_token.meta.virtual_part_id = uuid();edit_token_form.vpid.$setDirty()'>new</button>
                  </div>
                </div>
              </div>
              <!--div style='display:inline-block; margin-left:30px; vertical-align:top;'>
                <div>
                  <div>[R] Switch between DATA and RELATION.</div>
                  <div>[I] Start input.</div>
                  <div>[TAB] [SHIFT+TAB] Next / Previous cell.</div>
                  <div>[O] Go to the last row.</div>
                  <div>[:W] Save.</div>
                  <div>[ESC] Stop input/edit or close panel.</div>
                </div>
              </div>

              <br/-->
              <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="">
                  <md-tab label="Data">
                    <table>
                      <!--tr>
                        <th>Label</th><th>Key</th><th>Value</th><th>Unit</th>
                      </tr-->
                      <tr ng-repeat='(di, data) in edit_token.data'>
                        <td><input nrow='data-{{di}}' name='data-label' class='data-row-{{di}} user-input user-input-data data-label user-input-first-cell' ng-model='edit_token.data[di].label' placeholder="Label"></td>
                        <td><input nrow='data-{{di}}' name='data-key' class='data-row-{{di}} user-input user-input-data data-key' ng-model='edit_token.data[di].key' placeholder="Key"></td>
                        <td>
                          <input nrow='data-{{di}}' autocomplete="off" name='data-value' class='data-row-{{di}} user-input user-input-data data-value' ng-model='edit_token.data[di].value' placeholder="Value" ng-change='autoValues(di)' ng-blur='cellBlurred($event)'>
                          <div style='background-color:white;position:absolute;z-index:1000;width:auto;height:200px;overflow:scroll' ng-show='showSelectionBox[edit_token.token_id + "_" + edit_token.data[di].key + "-di-" + di]'>
                            <span ng-repeat="(elmId, v) in autoRes[edit_token.data[di].key] | v_filter : di : showSelectionBox[edit_token.token_id + '_' + edit_token.data[di].key + '-di-' + di] : this : 1" ng-mouseenter='elmSearchME(elmId)' ng-mouseleave='elmSearchML(elmId)' ng-style='elmSearchStyleInd[elmId]||elmSearchStyle' class='elm_searh' ng-click='autoValueClicked(di, v)'>
                              <span ng-style='elmSearchStyleInd[elmId]||elmSearchStyle' ng-bind-html="v.matched">
                              </span>
                              <br/>
                            </span>
                          </div>
                          <div></div>
                        </td>
                        <td><input nrow='data-{{di}}' name='data-unit' class='data-row-{{di}} user-input user-input-data data-unit' ng-model='edit_token.data[di].unit' placeholder="Unit" ng-class='{"last-data-cell" : (di==edit_token.data.length-1)}' ng-focus='addDataEntry(di==edit_token.data.length-1)'></td>
                      </tr>
                    </table>
                    <button class='add-a-row-button add-data' ng-click='addDataEntry(true)'>Add a row</button>
                    <button ng-click='updateToken()'>Save</button>
                    <button class='cancel-editing-token-button' ng-click='cancelEditingToken($event)' ng-show='edit_token'>cancel editing token</button><br/>
                  </md-tab>
                  <md-tab label="Relations">
                    <table>
                      <!--tr>
                        <th>Context</th><th>Relation</th><th>Object</th>
                      </tr-->
                      <tr ng-repeat='(ri, rel) in edit_token.relations'>
                        <td><input nrow='relation-{{ri}}' name='relation-context' class='relation-row-{{ri}} user-input user-input-relation relation-context user-input-first-cell' ng-model='edit_token.relations[ri].context' placeholder="Context"></td>
                        <td><input nrow='relation-{{ri}}' name='relation-relation' class='relation-row-{{ri}} user-input user-input-relation relation-relation' ng-model='edit_token.relations[ri].relation' placeholder="Relation"></td>
                        <td><input nrow='relation-{{ri}}' name='relation-object' class='relation-row-{{ri}} user-input user-input-relation relation-object' ng-keydown="ctrlPasteCopiedToken($event, ri)" ng-model='edit_token.relations[ri].object' placeholder="Object" ng-focus="readyToRelate($event, ri);addRelEntry(ri==edit_token.relations.length-1);" ng-blur="cancelToRelate($event)" ng-class='{"last-relation-cell" : (di==edit_token.data.length-1)}'></td>
                        <td><div ng-show="!!rel.object" ng-click="resolveUrlToken($event, rel.object)">resolve</div></td>
                        <td><button ng-show="isReadyToRelate" ng-mousedown="tokenIDFromCopiedToken($event, ri)">Paste Copied Token</button></td>
                      </tr>
                    </table>
                    <button class='add-a-row-button add-relation' ng-click='addRelEntry(true)'>Add a row</button>
                    <button ng-click='updateToken()'>Save</button>
                    <button class='cancel-editing-token-button' ng-click='cancelEditingToken($event)' ng-show='edit_token'>cancel editing token</button><br/>
                  </md-tab>
                </md-tabs>
              </md-content>
            </div> <!-- end of edit token -->
            </form>
          </div>
        </div><!-- end of level2 css_td -->
      </div><!-- end of level2 css_tr -->
    </div>
  </div><!-- end of level2 css_table -->


        </div> <!-- end of div.css_td-->

      </div> <!-- end of div.css_tr-->
    </div> <!-- end of div.css_table-->
    <div>
      <label>DEBUG INFO</label>
      <textarea disabled style='width:100%; height: 400px;'>{{formatJSON(ann)}}</textarea>
      <iframe id='carrier_frame' style='display:none;'></iframe>
      <!--iframe id='carrier_frame' width="800" height="600"></iframe-->
    </div>
  </body>
</html>
