a.btn,
a.btn:link,
.btn
  font-size: 1rem
  padding: 8px 20px
  cursor: pointer
  display: inline-block
  text-decoration: none
  text-align: center
  +border-radius(4px)
  
  > .icon 
    vertical-align: middle
    margin-right: 10px
    line-height: 0
    + .text
      vertical-align: middle

  &.btn-sm 
    font-size: 13px
    padding: 6px 12px

  &.btn-block
    display: block
  &.btn-link
    color: $gray

    &:hover,
    &:focus
      color: $black

  &.btn-green-border
    border: 1px solid $light-green
    color: $green

  &.btn-orange
    background: $orange
    border: 1px solid $border-orange
    color: #FFF
    &:hover,
    &:focus
      background: darken($orange, 5%)

  &.btn-default
    color: $green
    background: #FFF
    border: 1px solid $green
  
  &.btn-gray
    color: $black
    background: #E1E3E5
    border: 1px solid #EBEBEB
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23)

  &.btn-upload
    position: relative
    overflow: hidden
    input 
      display: none
    .text
      color: $green


.btn-group
  display: inline-block
  .btn.btn-border-gray
    color: $black
    padding: 3px 10px
    border-width: 1px 1px 1px 0
    border-style: solid 
    border-color: $gray
    +border-radius(0)

    &:last-child
      +border-radius(0 4px 4px 0)
    &:first-child
      +border-radius(4px 0 0 4px)
      border-left-width: 1px
    &.active
      color: #FFF
      background: $green