ul.tree-menu
  list-style: none 
  padding: 0
  margin: 0

  .tree-menu-item:nth-child(n+1)
    box-shadow: 0 1px 0 0 rgba(155,155,155,.15)

    a.tree-menu-link
      padding: 0 20px
      line-height: 44px
      height: 44px
      display: block
      text-decoration: none
      color: $black