.dropdown.v-select.single.searchable
  .dropdown-toggle
    padding-bottom: 0 !important
    .vs__selected-options
      padding: 0
    .form-control
      border: 0
      height: 38px
      line-height: 38px

.dropdown-menu
  padding: 0
  border: 1px solid $border-gray

  hr 
    margin: 10px 0

  .dropdown-item 
    cursor: pointer
    color: $black
    padding: 8px 10px
    text-decoration: none

    &:focus,
    &:active
      color: $black
      background: $border-gray

.dropdown

  .dropdown-menu
    display: none
    &.show
      display: block

  &.show>#notification-container
    display: block
  #notification-container
    width: 380px
    max-height: 1060px
    overflow-x: hidden
    overflow-y: auto
    cursor: default
    .notification-item
      &:not(:last-child)
        box-shadow: 0px -1px 0 0 #E1E3E5

      h5 
        margin: 5px 0

      &:active
        background: none
        
  .btn.btn-sm.btn-grayscale
    color: $gray 
    padding: 0 5px
    border: 1px solid $gray
    line-height: 20px

    + .dropdown-menu
      width: 260px
      padding: 10px
      right: 0
      left: auto !important
      input 
        display: inline-block 
        width: 50px

    &:hover,
    &:focus 
      background: $bg-gray

    > .icon
      margin-top: 1px
      margin-right: 4px
    > *
      vertical-align: middle
    > .text
      color: $gray 
      height: 20px
      padding-right: 5px
      border-right: 1px solid transparentize($gray, .8)
