@charset "UTF-8";

div.outer {
  position: absolute;
}

div.token-basic {
  margin-bottom: 5px;
  width: 400px;
}

//.token-basic:hover {
//  background: #0074D9;
//  color: white;
//}

.token-basic:hover {
  background: #0074D9;
  color: white;
}

.token-basic.hover {
  background: #FFDC00;
  color: #665800;
}

.token-basic.focus {
  background: #01ff70;
  color: #00662c;
}

.token-basic.modified {
  background: #FF4136;
  color: #800600;
}

.token-basic.focus:hover {
  background: #2ECC40;
  color: #0e3e14;
}


.css_table {
  display: table;
}

.css_tr {
  display: table-row;
}

.css_td {
  display: table-cell;
  vertical-align: top;
}

//.angular-ui-tree-node {
//  border-left : solid 1px black;
//}

li li:before {
  content: '└';
  position: absolute;
  left: -20px;
  color: #7c9eb2;
}

li li li:before {
  content: '└2.';
  position: absolute;
  left: -40px;
  color: #7c9eb2;
}

li li li li:before {
  content: '└──3.';
  position: absolute;
  left: -60px;
  color: #7c9eb2;
}

li li li li li:before {
  content: '└────4.';
  position: absolute;
  left: -80px;
  color: #7c9eb2;
}

li li li li li li:before {
  content: '└──────5.';
  position: absolute;
  left: -100px;
  color: #7c9eb2;
}

#tree_and_form {
  border: solid 1px;
  background: white;
  padding: 20px;
  width: 600px;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.token-basic > .show_on_parent_focused {
  display: none;
}

.token-basic.focus > .show_on_parent_focused {
  display: block;
}

.token-basic.hover > .show_on_parent_hovered {
  display: block;
}

input {
  border-width: 0px 0px 2px 0px;
  border-bottom-style: ridge;
  margin-left: 10px;
}

html {
  font-family: Serif, 微軟正黑體!important;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 10px 10px;
  margin-left: 10px;
  display: inline-block;
}

input.ng-dirty {
  background: #FFA272;
  color: #800600;
}
